@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.header {
    background-image: url(./images/donation13.jpg);
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.header h1 {
    font-size: 60px;
    font-weight: 700;
}

.header p {
    margin: 40px 0;
}

.donate-button {
    text-decoration: none;
    color: white;
    background: tomato;
    padding: 20px 40px;
    display: inline-block;
    border-radius: 10px;
}

h3 {
    font-size: 50px;
}

.donate-today p {
    margin: 30px 0;
}

.donate-today input {
    margin: 30px 0;
    padding: 20px 150px;
    text-align: center;
    font-size: 18px;
}

.donate-today {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 100px 0;
}

.tk {
    display: flex;
}

.tk-item {
    background: rgb(230, 230, 230);
    padding: 50px 40px;
    margin: 10px auto;
    font-size: 30px;
    border-radius: 8px;
}

#red {
    background: pink;
    color: crimson;
    border: 2px solid crimson;
}

.our-donate-plan {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 100px 0;
}

.our-donate-plan p {
    margin: 30px 0;
}

.plan-box {
    display: flex;
    width: 1200px;
}

.plan {
    background: #EDF5F6;
    margin: 10px;
    padding: 50px 30px;
    text-align: left;
    border-radius: 8px;
}

.plan h4 {
    font-size: 25px;
    margin-top: 20px;
}

#shelter {
    background: #FFEEEE;
}

#education {
    background: #FFF4D6;
}

.updates {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 100px 0;
}

.updates p {
    margin: 30px 0;
}

.email {
    background: #FFF4D6;
    padding: 80px 0;
    border-radius: 15px;
}

.email input {
    padding: 15px 50px 15px 10px;
    border-radius: 5px;
    border: none;
    background: #dddddd;
}

#subscribe-submit {
    border-radius: 0;
    padding: 15px 50px;
    border-radius: 5px;
}

footer {
    background: #090909;
    padding: 65px 0;
    color: white;
    text-align: center;
}

footer h4 {
    font-size: 35px;
    margin-bottom: 25px;
    font-family: 'Lobster', cursive;
    color: tomato;
}